@* @model LoginViewModel(); *@

<form id="signin-form" asp-action="none">
    <h1>Přihlášení</h1>
    <div class="container">
        <input type="text" name="username" id="username" placeholder="username" class="input" />
        <input type="password" name="password" id="password" placeholder="password" class="input" />

        <button id="login-button" class="input-button" asp-action="Login" asp-controller="Login">Přihlásit se</button>
    </div>
</form>