@using CarTracker.WebMvcApp.ViewModels
@model RegistrationViewModel


<style>
    .input {
        background-color: gray;
        width: 500px;
    }
</style>


<h1>Registrace</h1>
<form asp-action="RegisterUser" method="post">
    @* <label></label> *@
    <input asp-for="FirstName" type="text" id="first-name" placeholder="křestní jméno" class="input"/>
    <input asp-for="LastName" type="text" id="last-name" placeholder="příjmení" class="input"/>
    <input asp-for="Username" type="text" id="username" placeholder="uživatelské jméno" class="input" />
    <input asp-for="Password" type="password" id="password" placeholder="heslo" class="input" />
    <select class="input">
        <option>
            ** Vyber své oblíbené auto **
        </option>
        @foreach (var cars in Model.AvailableCars)
        {
            <option>
                <td>@cars.Brand</td>
                <td>@cars.Model</td>
                <td>@cars.Nickname</td>
                
            </option>
        }
    </select>

    <button id="register" type="submit" class="input-button">Zaregistrovat se</button>
</form>