@using CarTracker.WebMvcApp.ViewModels
@model ZasilkovnaDataViewModel

<style>
    td {
        border: 1px solid black;
        width: 50px;
    }
</style>

<h1>Users</h1>
<table style="border: 1px solid black; border-collapse: collapse ">
    <thead></thead>
    <tbody>

        @foreach (var users in Model.users)
        {
            <tr>
                <td>@users.Id</td>
                <td>@users.FirstName</td>
                <td>@users.LastName</td>
                <td>@users.FavouriteCar</td>
            </tr>	
        }
    </tbody>
</table>

<h1>Cars</h1>