@using CarTracker.WebMvcApp.ViewModels
@model IEnumerable<CarTracker.WebMvcApp.Entities.User>

<h1>Users</h1>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Jméno</td>
            <td>Příjmení</td>
            <td>Oblíbené auto</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var users in Model)
        {
            <tr>
                <td>@users.Username</td>
                @* <td>@users.FirstName</td>
                <td>@users.LastName</td> *@
                <td>
                    @if (users.FavouriteCar != null)
                    {
                        @($"{users.FavouriteCar.Brand} { users.FavouriteCar.Model}")
                    }
                    else
                    {
                        <span>---</span>
                    }
                </td>
            </tr>	
        }
    </tbody>
</table>