/*
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
    */

body {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    min-height: 100vh;
    color: white;
    background-image: url("./body_background.jpg");
    background-size: cover;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(100px);
    background-color: rgb(0, 49, 108, 0,30);
}

nav {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px 20px 5px 20px;
}

.nav-link {
    font-size: larger;
}

a, .a-logs {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navigation-list,
.header-links-container {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.header-links-container {
    width: 50%;
}

.registration-login-container {
    display: flex;
    gap: 10px;
    flex: 1;
    justify-content: flex-end;
    margin-right: 10px;
}

.registration-login-container .navigation-item {
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.navigation-item {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-item:hover {
    color: gray;
}

.registration-login-container .navigation-item:hover {
    background-color: rgb(50, 50, 50);
}





/* USERS */

table {
    border: 1px  rgb(50, 50, 50);
    border-radius: 5px;
    border-collapse: collapse;
    overflow: hidden;
}

td {
    /*    border: 1px solid rgb(50, 50, 50);*/
    box-sizing: border-box;
    border-radius: inherit;
    width: 150px;
    padding: 5px;
}

thead td {
    text-align: center;
    background-color: rgba(0, 0, 255, 0.25);
    backdrop-filter: blur(50px);
}

.action {
    text-decoration: underline;
    color: blue;
}


/* LOGIN + REGISTRATION */

input {
    padding: 5px;
}

.input {
    background-color: gray;
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.input-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-container {
    display: flex;
    flex-direction: column;
}