<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/CarTracker.WebMvcApp.styles.css" asp-append-version="true" /> *@

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>
    
</head>
<body>
    <!--

    <header>
        <nav class="navigation">
            <div class="header-container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CarTracker</a>
                <div class="header-subcontainer">
                    <ul class="navigation-list">
                        <li class="">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="">
                            <a class="nav-link" asp-area="" asp-controller="Users" asp-action="ShowUsers">Users</a>
                        </li>
                        <li class="">
                            <a class="nav-link" asp-area="" asp-controller="Cars" asp-action="ShowCars">Cars</a>
                        </li>
                        <li class="">
                            Logs
                        </li>
                    </ul>
                    <ul class="registration-login-container" id="registration-login">
                        <li class="navigation-item">
                            <a class="nav-link" asp-area="" asp-controller="Logins" asp-action="Login">Login</a>
                        </li>
                        <li class="navigation-item">
                            <a class="nav-link" asp-area="" asp-controller="Registrations" asp-action="Registration">Register</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    -->


    <header>
        <nav>
            <div class="navigation-list">
                <div class="header-links-container">
                    <div class="navigation-item">
                        <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </div>
                    <div class="navigation-item">
                        <a class="nav-link" asp-area="" asp-controller="Users" asp-action="ShowUsers">Users</a>
                    </div>
                    <div class="navigation-item">
                        <a class="nav-link" asp-area="" asp-controller="Cars" asp-action="ShowCars">Cars</a>
                    </div>
                    <div class="navigation-item">
                        <div class="a-logs">Logs</div>
                        </div>
                </div>
                @if(!User.Identity.IsAuthenticated)
                {
                    <div class="registration-login-container" id="registration-login">
                        <div class="navigation-item">
                            <a class="nav-link" asp-area="" asp-controller="Logins" asp-action="Login">Login</a>
                        </div>
                        <div class="navigation-item">
                            <a class="nav-link" asp-area="" asp-controller="Registrations" asp-action="Registration">Register</a>
                        </div>  
                    </div>
                }
                else
                {
                    <div class="registration-login-container">
                        @User.FindFirst("username").Value
                    </div>    
                }
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
